nbproject
.idea
/.idea
/storage/token/*.json
/public/uploads/wechat/

.env
/config/myconfig.php
/public/uploads/html/*.html
/public/uploads/html/*.htm
/public/uploads/auth

/storage/logs/
/bootstrap/app.php

/storage/uploads/html/*/*.html
/storage/uploads/html/*
/storage/uploads/pc/
/storage/uploads/wechat/*
/storage/framework/*

.env1
config/myconfig.php1
public/test.json
